:root{
    /* background-color: yellow; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#root{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin: 40px 57px;
}

img{
    width: 20vw;
    height: 26vh;
}

.task{
    border: solid 5px lightseagreen;
    border-radius: 20px;
    width: 97vw;
    /* height: 44vw; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

h1{
    font-size: 18px;
}


.container{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    border: solid 5px blue;
    flex-direction: column;
    height: 50vh;
    background: linear-gradient(to right, red,blue,green,yellow);
    background: linear-gradient(to right, bisque, rgb(236, 83, 0),);
}