<%- include("./partials/header.ejs") %>
<h1 style="text-align: center;position: relative;top: -64px;">User Data</h1>

<h2>Select the below given choices so the respective data:</h2>
<div id="dash-container">
  <div id="element"><a href="http://localhost:8000/Student">Student</a></div>
  <div id="element"><a href="http://localhost:8000/Product">Product</a></div>
  <div id="element"><a href="http://localhost:8000/User">User</a></div>
</div>

<%- include("./partials/footer.ejs") %>