<%- include("./partials/header.ejs") %>
<h1 style="text-align: center;position: relative;top: -64px;">Product Data</h1>

<div id="container">
    <% products.map((val,ind)=>{ %>
    <%- include("./partials/productcard.ejs",{val}) %>
    <% }) %>
</div>
    
<%- include("./partials/footer.ejs") %>