<footer id = "footerID">
     <marquee behavior="scroll" direction="left" scrollamount="20"><h3 style="color: white;">Hello!!! Everyone, Welcome to the MockPages!!!!</h3></marquee>
</footer>
</body>
</html>