<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            display:flex;
            border: solid red;
            width: 20vw;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <section id="container">
        <div id="content-card">
            <img src="{{%Image%}}" alt="">
            <p style="border: solid;">{{%Title%}}</p>
            <h4 style="border: solid;">{{%Price%}}</h4>
        </div>
    </section>
</body>
</html>